:root {
    --primary-color: #ff7e01;
    --secondary-color: #faa935;
    --heading-color: #0b2727;
    --text-color: #6e7074;
    --font-name: "Montserrat", sans-serif;
    --subtitle-font-name: "Island Moments", cursive;
}

.header{
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    padding-top: 20px;
    z-index: 100;
    /* background: #fff; */
}

.logo img{
    width: 30%;
    opacity: 3px;
}

.menu{
    margin-bottom: 0;
    z-index: 100;
}

.nav__item a{
    text-decoration:double;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.nav__item a:hover{
    color: var(--primary-color);
}

.nav__item a.active__link{
    color: var(--secondary-color);
}

.mobile__menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

.bt__login{
    color: var(--secondary-color) !important;
}

.sticky__header{
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    background: #fff;
    position: sticky;
    padding-top: 1rem;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.sticky__header a{
    color: var(--heading-color);
}

.sticky__header .bt__login{
    color: var(--heading-color) !important;
}